page-index {
    .contenedor{
        height:800px;
        overflow-y:auto;
    }
    .checkbox-icon .checkbox-checked  {
        background:coral
}
.center{
    text-align:center;
}

    .checkbox-icon .checkbox-checked {
        background:#0e6d78;
    }
}